<!-- 
Adapted by: Bhupinder Dabb from Prof. Tom Tsiliopoulos on 06/03/2022.
Student Id: 301187371 -->

<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
      <h5>&copy; Copyright Bhupinder Dabb 2022</h5>
    </div>
</nav>