<!-- 
Created by: Bhupinder Dabb on 06/03/2022.
Student Id: 301187371 -->

<div class="container">
    <h1><%= title %></h1>
    <div class="container">
        <div class="row animated fadeIn justify-content-center align-items-center">
          <div class="column-33">
            <img class="img-block img-fluid" src="/Assets/images/Bhuppyyy.jpg" alt="App">
          </div>
          <div class="column-66">

            <!-- Introduction  -->
              <h1 class="large-font"><b>Hi, I'm Bhupinder Dabb</b></h1>
              <p>I am from Philippines and have completed my Diploma in Associate in Computer Technology</p>
              <p>After that, I came to Canada to study more about this subject but this time more specifically. </p>
              <p>I am currently enrolled in the Software Engineering Technician 2-years program as I think that 
              this program will be an add-on to my current experience and education. I am very interested in 
              developing/fixing something which reacts according to its users this was the main reason for taking admission. </p>
              <br>
              <p>In my free time, I like to do digital art, traveling, and surfing the internet. </p>
              <p>Professionally, I would like to be a Tech Support or Software Technician at a Tech Company, and 
              I'll try my best to achieve a good position at Google Inc.</p>
          </div>
        </div>
      </div>
</div>

<!-- Another class -->

<div class="container">
    <div class="row animated fadeIn justify-content-center">
      <div class="col">
          <p><span style="font-size:30px;" >Education</span></p>
          <hr class="my-3"><br>
  
          <p><h6><b>Software Engineering Technician, Centennial College, Canada</b></h6><p>September 2021 - Present</p></p><br>
          <p><h6><b> Diploma in Associate in Computer Technology, STI College Caloocan, Philippines</b></h6><p>July 2018 - January 2021</p></p><br>
          
      </div>
    </div>
  </div>