<!-- 
Created by: Bhupinder Dabb on 06/03/2022.
Student Id: 301187371 -->

<div class="container" style="padding:43px;">

<h1 class="large-font" style="text-align: center; color:#FDFD96;"><b>Welcome to my <span style="color:#ff6961;">Portfolio</span></b></h1>

    <div id="animated-example" class="row animated fadeIn justify-content-center align-items-center" style="margin-top: 40px">
    <div class="col" style="text-align:center;color:#FDFD96;">

        <!-- class that Introduction to my portfolio -->

        <h1 class="display-5">Hi, I'm Bhupinder Dabb</h1>
        <p class="lead">Software Engineer Technician</p>
        <hr class="my-3" style="opacity: 0.7;">
        <p>The purpose of a portfolio is to help students to document their skills and achievements, to challenge 
            students to create their best work, and to help students to reflect on what they have accomplished. 
            The Online Skills Portfolio is an express portfolio that allows students to display a wide variety of products, 
            including documents, presentations, spreadsheets, photos and artwork.</p>
            <br> 
        <p>I believe in working together to create something you never experienced before.
        For more information about my experience, portfolio, or how can we make your portfolio 
        project, get in touch today.</p><br>
        <a type="submit" class="btn btn-warning" href="/about">Learn More</a>      
    </div>
</div>
</div>