<!-- 
Created by: Bhupinder Dabb on 06/03/2022.
Student Id: 301187371 -->

<div class="container">
     <h1><%= title %></h1>
     
<!-- COMP 123 -->
    <div class="row animated fadeIn justify-content-center align-items-center">
        <div class="column-66">
        <h1 class="large-font"><b>Personal website for COMP 123</b></h1>
        <h1 class="large-font" style="color:blanchedalmond;"><b>Bhupinder's Website</b></h1>
        <p><span style="font-size:16px"></span>I developed whole Website for my whole 1st semester and focused on basic personal information and data as part of my project for finals grade for Centennial College.</p>
        </div>
    </div>
    </div>
    
    <!-- Simple Canvas Game -->
    <div class="container">
    <div class="row animated fadeIn justify-content-center align-items-center">
        <div class="column-66">
        <h1 class="large-font"><b>Canvas game for COMP 125</b></h1>
        <h1 class="large-font" style="color:blanchedalmond;"><b>Bug Smasher</b></h1>
        <p><span style="font-size:16px"></span>I developed the Canvas game with a bug insect and leaf background as you click the bug it will refresh into another place and so on. The score is equivalent to 10 points and speed is getting faster after every click.</p>
       
        </div>
    </div>
    </div>
</div>
            