<!-- 
Created by: Bhupinder Dabb on 06/03/2022.
Student Id: 301187371 -->

<div class="container">
    <h1><%= title %></h1>
    
<div style="text-align: center; padding-top: 5px;">
<p><span style="font-size:20px">Let's Begin!</span></p>
<hr class="my-3">

    <div class="container">
    <div class="row animated fadeIn justify-content-center align-items-center">
        <div class="col">
            <p><h4><b>Website Development</b></h4><p>Technology: NodeJS, Canvas, HTML, CSS, ExpressJS, MongoDB</p></p>
        </div>
        <div class="col">
        <img src="Assets/images/gf.gif" height="270px">
        </div>
    </div>
    </div>

    <a class="btn btn-warning" href="/contact">Get in Touch</a>
</div>
</div>